
.main {
    margin-left: 100px;
}
  
  .ontop {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
}
 
.hi {
    display: block;
    margin: 0 0 0 40px;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 500;
    text-align: left;
    padding: 35px 0px 10px 0px;
}

.right-box {
    display: block;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 25px;
}

.time {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 32px;
    line-height: 35px;
    color: blue;
}

.date {
    font-size: 24px;
    line-height: 26px;
    margin: -10px 50px 0 50px;
}

.mid {
    margin-top: 20px;
}

.bg-img {
    width: 100%;
    height: 390px;
    object-fit: 110%;
    object-position:top;
}

.box {
    padding: 25px;
    width: 700px;
    margin-left: calc(50% - 350px);
}

.text {
    margin: 0px;
    margin-left: -100px;
    size: 16px;
    line-height: 19.5px;
    text-align: center;
    padding: 25px;
    background-color: inherit;
    border: solid #02577A 2px;
    border-radius: 25px;
}



@media(max-width:1200px){
       
    .box {
        padding: 25px;
        width: 600px;
        margin-left: calc(50% - 280px);
    }

}

@media(max-width:1000px){
   
    .hi {
        margin-left: 30px;
        font-size: 30px;
        line-height: 36px;
        padding: 35px 0px 15px 0px;
    }

    .time {
        margin: 20px 0px 20px 30px;
        font-size: 30px;
        line-height: 31px;
    }
        
    .date {
        font-size: 22px;
        line-height: 24px;

        margin: -10px 30px 0 30px;
    }
        
    .mid {
        margin-top: 10px;
    }

    .bg-img {
        width: 100%;
        height: 360px;
        object-fit: 100%;
    }
        
    .box {
        padding: 25px;
        width: 600px;
        margin-left: calc(50% - 330px);
    }
        
    .text {
        margin: 0px;
        size: 16px;
        line-height: 19.5px;
        padding: 25px;
    }

}

@media(max-width:800px){
   
    /* .ontop {
        height: 100px;
    } */

    .left-box {
        width: 270px;
    }
    
    .hi {
        /* margin: 0 0 0 60px;
        width: 180px;
        height: 70px; */
        font-size: 22px;
        line-height: 23px;
        padding: 25px 10px 15px 10px;
    }
    
    .right-box {
        margin-top: 10px;
        margin-right: 40px;
        /* width: 270px;
        height: 70px; */
    }

    .time {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 22px;
        line-height: 24px;
    }
        
    .date {
        margin-top: -10px;
        margin-left: 20px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 20px;
    }
        
    .mid {
        margin-top: 5px;
    }

    .bg-img {
        width: 100%;
        height: 360px;
        object-fit: 100%;
    }
        
    .box {
        padding: 15px;
        width: 360px;
        margin-left: calc(50% - 180px);
    }
        
    .text {
        margin: 0px;
        margin-left: -40px;
        size: 14px;
        line-height: 20px;
        padding: 15px;
    }

}


@media(max-width:650px){
   
    .ontop {
        /* height: 180px; */
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start;
        padding-bottom: 0px;
    }

    .left-box {
        width: 220px;
        margin: 0;
    }
    
    .hi {
        margin-top: 10px;
        margin-left: 40px;
        /* width: 180px; */
        /* height: 50px; */
        margin-bottom: 10px;
        /* padding: 15px; */

        /* width: 0px;
        height: 0px;  */
        padding: 15px 0 10px 10px;

    }
    
    .right-box {
        margin: 20px 0 0 10px;
        /* width: 250px; */
        /* height: 70px; */


        /* padding: 35px 125px 35px 125px; */

    }

    .time {
        margin-left: 40px;
        margin-top: 10px;
        
    }
        
    .date {
        margin-top: -10px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
    }
        
    .mid {
        margin-top: 5px;
    }

    .bg-img {
        width: 100%;
        height: 200px;
        object-fit: 100%;
    }
        
    .box {
        margin: 0;
        padding: 15px;
        width: 200px;
        margin-left: calc(50% - 100px);
        margin-right: auto;
    }
        
    .text {
        margin: 0px;
        margin-left: -40px;
        font-size: 12px;
        line-height: 20px;
    }

}


@media(max-width:500px){

    .ontop {
        /* height: 160px; */
        padding-top: 0px;
        margin-right: auto;
        margin-left: auto;
    }


    .bg-img {
        width: 100%;
        height: 150px;
        object-fit: 100%;
    }

    .box {
        display: inline;
        margin: 0;
        padding: 15px;
        width: 200px;
    }
        
    .text {
        margin-left: 0;
    }

    /* .hi {
        margin-left: 0px;
    }
     */
    /* .right-box {
        margin-left: 0px;
       
    } */
}

}

@media(max-width:375px){
   
        
    .hi {
        margin-top: 10px;
        margin-left: 0px;
        /* width: 180px; */
        /* height: 50px; */
        margin-bottom: 10px;
        /* padding: 15px; */

        /* width: 0px;
        height: 0px;  */
        padding: 15px 0 10px 10px;

    }
    
    .right-box {
        margin-top: 10px;
        margin-left: 0;
        /* width: 250px; */
        /* height: 70px; */


        /* padding: 35px 125px 35px 125px; */

    }

    .time {
        margin-left: 15px;

    }
        
    .date {

        margin-left: 15px;
        margin-right: 20px;

    }
        
 

}

