
.main {
    margin-left: 100px;
}
  
  .ontop {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
}
 
.hi {
    margin-left: 80px;
    width: 341px;
    height: 80px;
    font-size: 36px;
    line-height: 48px;
}

.right-box {
    margin-top: 20px;
    width: 520px;
    height: 106px;
    background-color: #FFFFFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.time {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 32px;
    line-height: 35px;
    color: blue;
}

.date {
    margin-top: -10px;
    margin-left: 100px;
    font-size: 24px;
    line-height: 26px;
}

.mid {
    margin-top: 20px;
}

.bg-img {
    width: 100%;
    height: 390px;
    object-fit: 110%;
    object-position:top;
}

.box {
    padding: 25px;
    width: 700px;
    margin-left: calc(50% - 350px);
}

.text {
    margin: 0px;
    margin-left: -100px;
    size: 16px;
    line-height: 19.5px;
    text-align: center;
    padding: 25px;
    background-color: inherit;
    border: solid #02577A 2px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


@media(max-width:1200px){
       
    .hi {
       margin-left: 100px;
    }
        
    .box {
        padding: 25px;
        width: 600px;
        margin-left: calc(50% - 280px);
    }

}

@media(max-width:1160px){
   
    
    .hi {
        margin-left: 60px;
        width: 300px;
    }
    
    .right-box {
        justify-content: center;
        width: 430px;
    }

    .time {
        margin-left: 50px;
    }
    
    .date {
        white-space: nowrap;
        margin-left: 50px;
    }

@media(max-width:1000px){
   
    .ontop {
        height: 130px;
    }

    .left-box {
        width: 290px;
    }
    
    .hi {
        margin-top: 40px;
        margin-left: 30px;
        width: 251px;
        height: 80px;
        font-size: 30px;
        line-height: 36px;
    }
    
    .right-box {
        margin-top: 20px;
        margin-right: 30px;
        width: 360px;
    }

    .time {
        margin-left: 30px;
        margin-top: 20px;
        font-size: 30px;
        line-height: 31px;
    }
        
    .date {
        margin-top: -10px;
        margin-left: 30px;
        font-size: 22px;
        line-height: 24px;
    }
        
    .mid {
        margin-top: 10px;
    }

    .bg-img {
        width: 100%;
        height: 360px;
        object-fit: 100%;
    }
        
    .box {
        padding: 25px;
        width: 600px;
        margin-left: calc(50% - 330px);
    }
        
    .text {
        margin: 0px;
        size: 16px;
        line-height: 19.5px;
        padding: 25px;
    }

}

@media(max-width:800px){
   
    .ontop {
        height: 100px;
    }

    .left-box {
        width: 270px;
    }
    
    .hi {
        margin: 25px 0 0 60px;
        width: 180px;
        height: 80px;
        font-size: 22px;
        line-height: 23px;
    }
    
    .right-box {
        margin-top: 10px;
        margin-right: 40px;
        width: 240px;
        height: 70px;
    }

    .time {
        margin-left: 20px;
        margin-top: 10px;
        font-size: 22px;
        line-height: 24px;
    }
        
    .date {
        margin-top: -10px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 16px;
    }
        
    .mid {
        margin-top: 5px;
    }

    .bg-img {
        width: 100%;
        height: 360px;
        object-fit: 100%;
    }
        
    .box {
        padding: 15px;
        width: 360px;
        margin-left: calc(50% - 180px);
    }
        
    .text {
        margin: 0px;
        margin-left: -40px;
        size: 14px;
        line-height: 20px;
        padding: 15px;
    }

}


@media(max-width:650px){
   
    .ontop {
        height: 180px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .left-box {
        width: 220px;
        margin: 0;
    }
    
    .hi {
        margin-top: 10px;
        margin-left: 10px;
        width: 180px;
        height: 50px;
        margin-bottom: 10px;
    }
    
    .right-box {
        margin: 0px;
        width: 220px;
        height: 70px;
    }

    .time {
        margin-left: 20px;
        margin-top: 10px;
    }
        
    .date {
        margin-top: -10px;
        margin-left: 20px;
        font-size: 14px;
        line-height: 16px;
    }
        
    .mid {
        margin-top: 5px;
    }

    .bg-img {
        width: 100%;
        height: 200px;
        object-fit: 100%;
    }
        
    .box {
        margin: 0;
        padding: 15px;
        width: 200px;
        margin-left: calc(50% - 100px);
        margin-right: auto;
    }
        
    .text {
        margin: 0px;
        margin-left: -40px;
        font-size: 12px;
        line-height: 20px;
    }

}


@media(max-width:500px){

    .ontop {
        height: 160px;
    }


    .bg-img {
        width: 100%;
        height: 150px;
        object-fit: 100%;
    }
    .box {
        display: inline;
        margin: 0;
        padding: 15px;
        width: 200px;
    }
        
    .text {
        margin-left: 0;
    }

 
}

}