
.main {
    margin-left: 100px;
}
  
  .ontop {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
}
 
.hi {
    margin-left: 50px;
    width: 341px;
    height: 80px;
    font-size: 36px;
    line-height: 48px;
}

.right-box {
    margin-top: 20px;
    width: 520px;
    height: 106px;
    background-color: #FFFFFF;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.time {
    margin-left: 100px;
    margin-top: 10px;
    font-size: 32px;
    line-height: 35px;
    color: blue;
}

.date {
    margin-top: -10px;
    margin-left: 100px;
    font-size: 24px;
    line-height: 26px;
}

.mid {
    margin-top: 20px;
}


.bg-img {
    width: 100%;
    height: 390px;
    object-fit: 110%;
    object-position:top;
}

.box {
    padding: 25px;
    width: 800px;
    margin-left: calc(50% - 400px);
}

.text {
    margin: 0px;
    margin-left: -100px;
    size: 16px;
    line-height: 19.5px;
    text-align: center;
    padding: 25px;
    background-color: inherit;
    border: solid #02577A 2px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


