body {
    width: 100%;
    height: 100%;
    padding: 0;
 }

.main-nav{
    width: 100px;
    height: 100vh;
    background-color: #F7F6FF;
    position: fixed;
    transition: max-width 0.4s ease-in 0s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
    position: relative;
    padding: 0px;
    margin-top: 36px;
    left: 50%;
    transform: translateX(-50%);
}

nav > hr {
    width: 62px;
    margin-left: 18px;
    margin-top: 32px;
    background-color: #c4c4c4;
    border: 1px solid #C4C4C4;
}

.home-active {
    margin-left: 26px;
    padding: 16px;
    background-color: #fff;
    border-radius: 25px 0px 0px 25px;
} 

.icon-left {
    margin-left: 21px;
    padding: 16px;
}

.link {
    position: relative;
    float: right;
    margin-right: 32px;
    color: #c4c4c4;
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: opacity 0.5s linear;
    transition-delay: 0.2s;
}

.main-nav:hover > logo {
    margin-left: 69px;
}

.main-nav:hover {
    max-width: 206px;
    width: 206px;
  }
  .main-nav:hover > hr {
    width: 128px;
    max-width: 128px;
    margin-left: 39px;
  }
  .main-nav:hover > .link {
    visibility: visible;
    opacity: 1;
  }

.bottom {
    position: absolute;
    text-align: center;
    color: #02577a;
    padding: 6px;
    left: calc(50% - 173px);
    font-size: 11px;
    bottom: 10px;
    width: 346px;
    
}

footer > hr{
    padding: 0px;
    border: 0.5px solid #02577A;
}

